{{> header }}

  <main role="posts-aggregate">
    <header class="aggregate-header">
      <h2 class="aggregate-header__title">
        Latests Posts...
      </h2>
    </header>
    <section class="aggregate__posts">
      {{#each posts}}
        {{> postTrunc }}
      {{/each}}
    </section>

  </main>
{{> footer}}
