@font-face {
  font-family: Dosis;
  src: url("/assets/fonts/dosis/Dosis-ExtraLight.eot");
  src: url("/assets/fonts/dosis/Dosis-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/dosis/Dosis-ExtraLight.woff") format("woff"), url("/assets/fonts/dosis/Dosis-ExtraLight.ttf") format("truetype"), url("/assets/fonts/dosis/Dosis-ExtraLight.svg#Dosis") format("svg");
  font-weight: 200;
  font-style: normal; }

font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Dosis;
    src: url("/assets/fonts/dosis/Dosis-ExtraLight.svg#Dosis") format("svg"); } }

@font-face {
  font-family: Dosis;
  src: url("/assets/fonts/dosis/Dosis-Regular.eot");
  src: url("/assets/fonts/dosis/Dosis-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/dosis/Dosis-Regular.woff") format("woff"), url("/assets/fonts/dosis/Dosis-Regular.ttf") format("truetype"), url("/assets/fonts/dosis/Dosis-Regular.svg#Dosis") format("svg");
  font-weight: 400;
  font-style: normal; }

font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Dosis;
    src: url("/assets/fonts/dosis/Dosis-Regular.svg#Dosis") format("svg"); } }

@font-face {
  font-family: Dosis;
  src: url("/assets/fonts/dosis/Dosis-Bold.eot");
  src: url("/assets/fonts/dosis/Dosis-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/dosis/Dosis-Bold.woff") format("woff"), url("/assets/fonts/dosis/Dosis-Bold.ttf") format("truetype"), url("/assets/fonts/dosis/Dosis-Bold.svg#Dosis") format("svg");
  font-weight: 700;
  font-style: normal; }

font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Dosis;
    src: url("/assets/fonts/dosis/Dosis-Bold.svg#Dosis") format("svg"); } }

@font-face {
  font-family: OpenSans;
  src: url("/assets/fonts/opensans/OpenSans-Light.eot");
  src: url("/assets/fonts/opensans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/opensans/OpenSans-Light.woff") format("woff"), url("/assets/fonts/opensans/OpenSans-Light.ttf") format("truetype"), url("/assets/fonts/opensans/OpenSans-Light.svg#OpenSans") format("svg");
  font-weight: 300;
  font-style: normal; }

font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: OpenSans;
    src: url("/assets/fonts/opensans/OpenSans-Light.svg#OpenSans") format("svg"); } }

@font-face {
  font-family: OpenSans;
  src: url("/assets/fonts/opensans/OpenSans-Regular.eot");
  src: url("/assets/fonts/opensans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/opensans/OpenSans-Regular.woff") format("woff"), url("/assets/fonts/opensans/OpenSans-Regular.ttf") format("truetype"), url("/assets/fonts/opensans/OpenSans-Regular.svg#OpenSans") format("svg");
  font-weight: 400;
  font-style: normal; }

font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: OpenSans;
    src: url("/assets/fonts/opensans/OpenSans-Regular.svg#OpenSans") format("svg"); } }

@font-face {
  font-family: OpenSans;
  src: url("/assets/fonts/opensans/OpenSans-Bold.eot");
  src: url("/assets/fonts/opensans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/opensans/OpenSans-Bold.woff") format("woff"), url("/assets/fonts/opensans/OpenSans-Bold.ttf") format("truetype"), url("/assets/fonts/opensans/OpenSans-Bold.svg#OpenSans") format("svg");
  font-weight: 700;
  font-style: normal; }

font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: OpenSans;
    src: url("/assets/fonts/opensans/OpenSans-Bold.svg#OpenSans") format("svg"); } }

@font-face {
  font-family: OpenSans;
  src: url("/assets/fonts/opensans/OpenSans-Italic.eot");
  src: url("/assets/fonts/opensans/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/opensans/OpenSans-Italic.woff") format("woff"), url("/assets/fonts/opensans/OpenSans-Italic.ttf") format("truetype"), url("/assets/fonts/opensans/OpenSans-Italic.svg#OpenSans") format("svg");
  font-weight: 400;
  font-style: italic; }

font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: OpenSans;
    src: url("/assets/fonts/opensans/OpenSans-Italic.svg#OpenSans") format("svg"); } }

@font-face {
  font-family: Font-Awesome;
  src: url("/assets/fonts/font-awesome/fontawesome-webfont.eot");
  src: url("/assets/fonts/font-awesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/font-awesome/fontawesome-webfont.woff") format("woff"), url("/assets/fonts/font-awesome/fontawesome-webfont.ttf") format("truetype"), url("/assets/fonts/font-awesome/fontawesome-webfont.svg#Font-Awesome") format("svg");
  font-weight: 300;
  font-style: normal; }

font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Font-Awesome;
    src: url("/assets/fonts/font-awesome/fontawesome-webfont.svg#Font-Awesome") format("svg"); } }
